
.navbar{
    min-height: 100px;
}

.fa-kiwi-bird, 
.fa-cloud-upload-alt {
    color: #4c8bf5;
}

.card-title,
.card-text {
    color: #4c8bf5 ;
}

hr {
    border: none;
    height: 1px;
    color: #4c8bf5;
    background-color: #4c8bf5;
}

th {
    text-transform: uppercase;
}
