
.nav-link {
    color: #4c8bf5 !important;
}

.fa-kiwi-bird, 
.fa-cloud-upload-alt {
    color: #4c8bf5;
}

.card-title,
.card-text {
    color: #4c8bf5 ;
}

h2 {
    color: #4c8bf5;
}

hr {
    border: none;
    height: 1px;
    background-color: #4c8bf5;
}

th {
    text-transform: uppercase;
    background-color: #4c8bf5;
    color: white;
}
